# [url "git@github.com:atty303/"]
#   insteadOf = https://github.com/atty303/

[core]
  autocrlf = input
  symlink = true
  pager = delta
{{ if (eq .chezmoi.os "windows") -}}
  sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{ else if (.wsl) }}
  sshCommand = "//mnt/c/Windows/System32/OpenSSH/ssh.exe"
{{- end }}

[includeIf "gitdir:~/src/github.com/CyberAgent/"]
  path = ~/.config/git/cyberagent
[includeIf "gitdir:~/src/github.com/CyberAgentAI/"]
  path = ~/.config/git/cyberagent

[init]
  defaultBranch = main

[user]
  name = Koji AGAWA
  email = atty303@gmail.com
  signingkey = ~/.ssh/atty303.pub

[gpg]
  format = ssh

[gpg "ssh"]
{{ if eq .chezmoi.os "windows" -}}
  program = "C:/Users/atty/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
{{ if (and (eq .chezmoi.os "linux") (not .wsl)) }}
  program = "{{ .chezmoi.destDir }}/.local/bin/ssh-keygen-force-agent"
{{- end }}
{{ if (and (eq .chezmoi.os "linux") .wsl) }}
  program = "/mnt/c/Users/atty/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{- end }}

[commit]
  gpgsign = true

[interactive]
  diffFilter = delta --color-only

[delta]
    navigate = true
    dark = true
    theme = Catppuccin Mocha

[merge]
    conflictStyle = zdiff3

[hook "hk-pre-commit"]
  command = test \"${HK:-1}\" = \"0\" || ! command -v hk >/dev/null || hk run pre-commit --from-hook \"$@\"
  event = pre-commit
[hook "hk-post-commit"]
  command = test \"${HK:-1}\" = \"0\" || ! command -v hk >/dev/null || hk run post-commit --from-hook \"$@\"
  event = post-commit
[hook "hk-post-checkout"]
  command = test \"${HK:-1}\" = \"0\" || ! command -v hk >/dev/null || hk run post-checkout --from-hook \"$@\"
  event = post-checkout
[hook "hk-pre-push"]
  command = test \"${HK:-1}\" = \"0\" || ! command -v hk >/dev/null || hk run pre-push --from-hook \"$@\"
  event = pre-push
[hook "hk-prepare-commit-msg"]
  command = test \"${HK:-1}\" = \"0\" || ! command -v hk >/dev/null || hk run prepare-commit-msg --from-hook \"$@\
  event = prepare-commit-msg
