# [url "git@github.com:atty303/"]
#   insteadOf = https://github.com/atty303/

[core]
  autocrlf = input
  symlink = true
{{ if (eq .chezmoi.os "windows") -}}
  sshCommand = "C:/Windows/System32/OpenSSH/ssh.exe"
{{ else if (.wsl) }}
  sshCommand = "//mnt/c/Windows/System32/OpenSSH/ssh.exe"
{{- end }}

[includeIf "gitdir:~/src/github.com/CyberAgent/"]
  path = ~/.config/git/cyberagent
[includeIf "gitdir:~/src/github.com/CyberAgentAI/"]
  path = ~/.config/git/cyberagent

[init]
  defaultBranch = main

[user]
  name = Koji AGAWA
  email = atty303@gmail.com
  signingkey = ~/.ssh/atty303.pub

[gpg]
  format = ssh

[gpg "ssh"]
{{ if eq .chezmoi.os "windows" -}}
  program = "C:/Users/atty/AppData/Local/1Password/app/8/op-ssh-sign.exe"
{{- end }}
{{ if eq .chezmoi.os "darwin" -}}
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- end }}
{{ if (and (eq .chezmoi.os "linux") (not .wsl)) }}
  program = "{{ .chezmoi.destDir }}/.local/bin/ssh-keygen-force-agent"
{{- end }}
{{ if (and (eq .chezmoi.os "linux") .wsl) }}
  program = "/mnt/c/Users/atty/AppData/Local/1Password/app/8/op-ssh-sign-wsl"
{{- end }}

[commit]
  gpgsign = true
