{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $work := false -}}{{/* true if this machine is a work machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $homebrew := false -}}
{{- "" -}}

{{- $osID := .chezmoi.os -}}
{{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Tom’s Laptop" -}}
{{-     $hostname = "toms-laptop" -}}
{{-   else if eq $computerName "Tom’s MacBook Air" -}}
{{-     $hostname = "toms-mba" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" "linux" -}}
{{-   $homebrew = true -}}
{{- end -}}

{{- $email := "twpayne@gmail.com" -}}
{{- if $work -}}
{{-   $email = "tom.payne@flarm.com" -}}
{{- end -}}

{{- if (env "CODESPACES") -}}
# GitHub Codespaces clone the repository to a this directory
sourceDir = "/workspaces/.codespaces/.persistedshare/dotfiles"
{{- end -}}

encryption = "age"

[age]
  identity = "~/.age.key"
  command = "rage"
  recipient = "age1vdj552v5zujh3n62m4w922j0ekh2vylt2q0ytznjdfcgmly50ucsj06jgs"

[onepassword]
  prompt = false

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    work = {{ $work }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}
    osid = {{ $osID | quote }}
    zshPlugins = [
        "per-directory-history",
        "vi-mode",
        "zsh-syntax-highlighting",
    ]
    homebrew = {{ $homebrew }}

[git]
    autoAdd = true
    autoCommit = true

[github]
    refreshPeriod = "12h"

{{ if eq .chezmoi.os "windows" }}
[interpreters.ps1]
    command = {{ joinPath (env "PROGRAMFILES") "PowerShell/7/pwsh.exe" | toToml }}
    args = ["-NoLogo"]
{{ end }}

[hooks.read-source-state.pre]
{{ if eq .chezmoi.os "windows" }}
    command = {{ joinPath (env "SystemRoot") "System32/WindowsPowerShell/v1.0/powershell.exe" | toToml }}
    args = ["-NoLogo", {{ joinPath .chezmoi.sourceDir ".chezmoiscripts/.install-init.ps1" | toToml }}]
{{ end }}
