# ignored source
/README.md

# ignored target
/.Trash/
/.android/
/.cache/
/.cargo/
/.datadog-agent/
/.docker/
/.dropbox/
/.ecr/
/.gradle/
/.ivy2/
/.local/
/.m2/
/.mill/
/.npm/
/.nuget/
/.sbt/
/.slack/
/.terraform.d/
/.rustup/
/.wakatime/
/.yarn/
/.vite-plugin-mkcert/
/src/

/.CFUserTextEncoding
/.ssh/known_hosts
/.vim/
/.viminfo
/.yarnrc
/.wakatime.cfg
/.config/chezmoi/
/.config/github-copilot/
/.config/op/
/.config/zellij/config.kdl.bak*
/.lesshst
/.javacpp/
/.cups/
.gnupg/

.aws/boto/
.aws/cli
.zcompdump
.config/carapace/bridge/zsh/.zcompdump_capture
.config/nushell/history.*
.bash_history
.node_repl_history

# ignored by os
{{ if eq .chezmoi.os "darwin" }}
!/Library/Application Support/nushell/
/Library/
/Applications/
/Desktop/
/Documents/
/Downloads/
/Dropbox/
/Movies/
/Music/
/Pictures/
/Public/
{{ end }}
{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
/Library/
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
/AppData/
{{ end }}

{{ if not .homebrew }}
.config/homebrew/
{{ end }}

# global
**/.DS_Store
