{{if (includeTemplate "cde_personal_secrets" ".wakatime" | fromJson)}}
{{- with (includeTemplate "cde_personal_secrets" ".wakatime" | fromJson) -}}
[settings]
api_key = {{ .api_key }}
{{- end }}
{{end}}