{{/* https://mise.jdx.dev/ide-integration.html#sdk-selection-using-asdf-layout */}}
{{ if eq .chezmoi.os "darwin" }}
{{ .chezmoi.destDir }}/.local/share/mise
{{ end }}
{{ if eq .chezmoi.os "linux" }}
{{ .chezmoi.destDir }}/.local/share/mise
{{ end }}
{{ if eq .chezmoi.os "windows" }}
{{ env "LOCALAPPDATA" }}\mise
{{ end }}
