{{- if eq (includeTemplate "screenpipe-appimage-enabled" .) "true" -}}
[Desktop Entry]
Type=Application
Version=1.0
Name=screenpipe
Comment=screenpipe startup script managed by chezmoi
Exec=env LD_PRELOAD={{ .chezmoi.homeDir }}/.local/lib/appimage-host/screenpipe/libwayland-client.so.0 {{ .chezmoi.homeDir }}/AppImages/screenpipe.appimage --autostart
StartupNotify=false
Terminal=false
{{- end }}
