# Send a keep-alive packet every 60 seconds to prevent connection timeout (default: 0)
ServerAliveInterval 60

# Allow the execution of local commands specified in LocalCommand
PermitLocalCommand yes

# If the SSH agent is not forwarded from the remote host, use the local 1Password
{{ if eq .chezmoi.os "darwin" -}}
Match Host * exec "[[ ! '$SSH_AUTH_SOCK' == /private/tmp/com.apple.launchd.*/Listeners ]]"
  # https://developer.1password.com/docs/ssh/get-started#step-4-configure-your-ssh-or-git-client
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{- end }}

# LAN hosts are trusted
Host *.local
  ForwardAgent yes
Host *.gitpod.environment
  ForwardAgent yes
Host *.gitpod.remote
  ForwardAgent yes

# GitHub Codespaces
Match All
  Include ~/.ssh/codespaces

# Gitpod Flex CLI SSH Integration
Include "gitpod/config"
# End of Gitpod Flex CLI SSH Integration

## START Gitpod Flex VS Code INTEGRATION
## This section is managed by Gitpod. Any manual changes will be lost.
Include "code_gitpod_flex.d/config"
## END Gitpod Flex VS Code INTEGRATION
