{{ if has "development" .profiles }}
$packages = @(
{{ range $index, $element := .packages.windows.winget.development }}
    "{{ $element }}"
{{ end }}
)
$packages | ForEach-Object {
    Write-Host "Installing: $_" -ForegroundColor Green
    winget install --silent --no-upgrade --accept-source-agreements --exact --id $_
}
{{ end }}

winget install --silent --no-upgrade --exact --id Microsoft.VisualStudio.2022.BuildTools --override "--wait --add Microsoft.VisualStudio.Workload.VCTools --includeRecommended"