{{ if has "essentials" .profiles }}
$packages = @(
{{ range $index, $element := .packages.windows.winget.essentials }}
    "{{ $element }}"
{{ end }}
)
$packages | ForEach-Object {
    Write-Host "Installing: $_" -ForegroundColor Green
    winget install --silent --no-upgrade --accept-source-agreements --exact --id $_
}
{{ end }}