[Desktop Entry]
Version=1.0
Type=Application
Name=ChatGPT
Comment=ChatGPT by OpenAI
GenericName=AI assistant
Exec={{ .chezmoi.homeDir }}/.local/bin/chatgpt %U
Icon={{ .chezmoi.homeDir }}/.local/opt/chatgpt/current/usr/share/pixmaps/chatgpt.png
StartupNotify=true
Categories=Development;
MimeType=x-scheme-handler/codex;
