[Desktop Entry]
Version=1.0
Type=Application
Name=Open in Default Browser
Exec={{ .chezmoi.homeDir }}/.local/bin/open-in-default-browser %u
Terminal=false
NoDisplay=true
MimeType=x-scheme-handler/x-open-default;
