#!/usr/bin/env -S bash -euo pipefail
{{ if has "secrets" .roles }}

identity="${HOME}/.config/chezmoi/age/identity.txt"
if [ ! -s "$identity" ]; then
  umask 077
  mkdir -p "$(dirname "$identity")"

  # passphrase=$(mise exec ubi:open-source-cooperative/keyring-rs -- keyring-rs -s chezmoi -t age-passphrase password)

  if [ -s "/usr/local/secrets/CHEZMOI_AGE_KEY" ]; then
    cp /usr/local/secrets/CHEZMOI_AGE_KEY "$identity"
  elif [ -n "${CHEZMOI_AGE_KEY:-}" ]; then
    printf '%s\n' "$CHEZMOI_AGE_KEY" > "$identity"
  else
    chezmoi age decrypt --output "$identity" --passphrase "{{ .chezmoi.config.sourceDir }}/key.txt.age"
  fi
fi
chmod 600 "$identity"
{{ else }}
exit 0
{{ end }}
