#!/usr/bin/env -S bash -euo pipefail

# Signature of all mise config files for change detection
{{ range $index, $file := glob (print .chezmoi.sourceDir "/dot_config/mise/*.toml") -}}
# {{ $file }}: {{ $file | include | sha256sum }}
{{ end -}}

if command -v git &>/dev/null; then
  token=$((printf "%s\n" protocol=https host=github.com | GIT_TERMINAL_PROMPT=0 git credential fill 2>/dev/null | sed -n "s/^password=//p") || exit 0)
  export GITHUB_TOKEN=$token
fi

mise install -y

